<p style="color: green"><%= notice %></p>

<h1>Super Sub Categorías</h1>
<%= link_to "Nueva Super Sub Categoría", new_sup_sub_category_path, class: "btn btn-primary" %>
<br>
<br>
<div class="table-responsive-xxl" id="business_sectors">
    <table class="table table-hover table-bordered ">
      <thead class="table-light">
        <tr>
        <th> Número </th>
        <th> Nombre </th>
        <th> Sub Categoría </th>
        <th> Editar </th>
        <th> Elimnar</th>
        </tr>
      </thead>
      <tbody>
      <% @sup_sub_categories.each do |sup_sub_category| %>
            <tr>
              <td> <%= sup_sub_category.number%> </td>
              <td> <%= sup_sub_category.name%> </td>
              <td> <%= sup_sub_category.sub_category.name%> </td>
              <td> <%= link_to "Editar" , edit_sup_sub_category_path(sup_sub_category), class: "btn btn-primary"%> </td>
              <td> <%= button_to "Eliminar" , sup_sub_category, method: :delete, class: "btn btn-danger" %> </td>
          <% end %>  
      </tbody>
    </table>  
</div>