<p style="color: green"><%= notice %></p>

<%= render @sup_sub_category %>

<div>
  <%= link_to "Editar super sub categoría", edit_sup_sub_category_path(@sup_sub_category),  class: "btn btn-primary"  %> |
  <%= link_to "Regresar a super sub categorías", sup_sub_categories_path, class: "btn btn-primary" %>
  <br>
  <br>
  <%= button_to "Elimanar super sub categoría", @sup_sub_category, method: :delete, class: "btn btn-danger" %>
</div>
