<p style="color: green"><%= notice %></p>

<h1>Categorías</h1>
<%= link_to "Nueva Categoría", new_category_path, class: "btn btn-primary" %>
<br>
<br>
<div class="table-responsive-xxl" id="business_sectors">
    <table class="table table-hover table-bordered ">
      <thead class="table-light">
        <tr>
        <th> Número </th>
        <th> Nombre </th>
        <th> Editar </th>
        <th> Elimnar</th>
        </tr>
      </thead>
      <tbody>
      <% @categories.each do |category| %>
            <tr>
              <td> <%= category.number%> </td>
              <td> <%= category.name%> </td>
              <td> <%= link_to "Editar" , edit_category_path(category), class: "btn btn-primary"%> </td>
              <td> <%= button_to "Eliminar" , category, method: :delete, class: "btn btn-danger" %> </td>
          <% end %>  
      </tbody>
    </table>  
</div>