<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <%= link_to "Editar Categoría", edit_category_path(@category), class: "btn btn-primary" %> |
  <%= link_to "Regresar a Categorías", categories_path, class: "btn btn-primary" %>
  <br> 
  <br> 
  
  <%= button_to "Eliminar Categoría", @category, method: :delete, class: "btn btn-danger" %>
</div>
