<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Nombre_Producto, style: "display: block" %>
    <%= form.text_field :product_name, class:"col-4"  %>
  </div>

  <div>
    <%= form.label :Numero_Material, style: "display: block" %>
    <%= form.text_field :material_number, class:"col-4"  %>
  </div>

  <div>
    <%= form.label :Inventario, style: "display: block" %>
    <%= form.number_field :stock , class:"col-4" %>
  </div>

  <div>
    <%= form.label :Super_Sub_Categoría, style: "display: block" %>
    <%= form.collection_select :sup_sub_category_id, SupSubCategory.all.order(number: :asc), :id, :number %>
  </div>
  <br>
  <div>
    <%= form.submit "Guardar", class: "btn btn-success"%>
  </div>
<% end %>
