<div id="<%= dom_id product %>">
  <p>
    <strong>Nombre Producto:</strong>
    <%= product.product_name %>
  </p>

  <p>
    <strong>Número Material: </strong>
    <%= product.material_number %>
  </p>

  <p>
    <strong>Inventario:</strong>
    <%= product.stock %>
  </p>

  <p>
    <strong>Super sub category:</strong>
    <%= product.sup_sub_category.name %>
  </p>

</div>
