<p style="color: green"><%= notice %></p>

<h1>Productos</h1>
<%= link_to "Nuevo Producto", new_product_path, class: "btn btn-primary" %>
<br>
<br>
<center>
  <%= form_with url: products_path, method: :get do |form| %>
      <%= form.number_field :min_stock, placeholder: "Inventario mínimo", onChange: 'this.form.requestSubmit()', value: params[:min_stock] %>
      <%= form.number_field :max_stock, placeholder: "Inventario máximo", onChange: 'this.form.requestSubmit()', value: params[:max_stock] %>
  <% end %>
</center>
<br>
<br>
<div class="table-responsive-xxl" id="business_sectors">
    <table class="table table-hover table-bordered ">
      <thead class="table-light">
        <tr>
        <th> Sku </th>
        <th> Nombre Producto </th>
        <th> Número Material </th>
        <th> Categoría</th>
        <th> Inventario </th>
        <th> Editar </th>
        <th> Elimnar</th>
        </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
            <tr>
              <td> <%= product.id%> </td>
              <td> <%= product.product_name%> </td>
              <td> <%= product.material_number%> </td>
              <td> <%= product.sup_sub_category.number%> </td>
              <td> <%= product.stock%> </td>
              <td> <%= link_to "Editar" , edit_product_path(product), class: "btn btn-primary"%> </td>
              <td> <%= button_to "Eliminar" , product, method: :delete, class: "btn btn-danger" %> </td>
          <% end %>  
      </tbody>
    </table>  
  </div>
