<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <%= link_to "Editar producto", edit_product_path(@product), class: "btn btn-primary" %> |
  <%= link_to "Regresar a productos", products_path, class: "btn btn-primary" %>
  <br>
  <br>
  <%= button_to "Eliminar producto", @product, method: :delete, class: "btn btn-danger" %>
</div>
